## Task: We have a medical data

- Two features are given that are releted to brain chemistry:

    -Serotonin 
    
    -Dopamine
    
- The target shows the brain health, which indicates having or not having depression

In [9]:
# IMPORTS

import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("SVM_dataset1.csv", index_col=0)
df.head()

         X1        X2  y
0  2.947814  6.626878  1
1  2.530388  7.785050  1
2  3.566991  5.651046  1
3  3.156983  5.467077  1
4  2.582346  4.457777 -1

## Build X_train & Y_train arrays

In [11]:
X1=df['X1']
X2=df['X2']
X_train=np.array(list(zip(X1,X2)))
X_train

array([[2.947814, 6.626878],
       [2.530388, 7.78505 ],
       [3.566991, 5.651046],
       [3.156983, 5.467077],
       [2.582346, 4.457777],
       [2.155826, 6.222343],
       [3.273418, 3.520687]])